.StopWatch {
    margin: 25px 0 25px 15px;
    font-size: 1.3rem;
    font-weight: bold;
    
    &__buttons {
        display: flex;
        margin-top: 20px;
    }

    button {
        padding: 8px;
        border-radius: 5px;
        font-size: 1.3rem;
    }

    &__start {
        display: none;
        background: #61dafb;
        margin-right:10px;

        &.active {
            display: block;
        }
    }

    &__stop {
        display: none;
        background: #ff5757;
        margin-right:10px;
        letter-spacing: 0.45px;

        &.active {
            display: block;
        }
    }
}