.Modal {
    &__head {
        cursor: pointer;
    }

    &__body {
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 999;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.8);
        opacity: 0;
        visibility: hidden;
        transition: 400ms;
    }

    &__body.active{
        opacity: 1;
        visibility: visible;
    }
    
    &__content {
        width: 40%;
        background: #fff;
        transform: translate(0, -100vh);
        transition: 600ms;
    }

    &__body.active  &__content{
        transform: translate(0, 0);
    }

    &__close::after, &__close::before {
        content: '';
        position: absolute;
        width: 4px;
        height: 20px;
        background: #ff5757;
        top: 10px;
        right: 17px;
        cursor: pointer;
    }

    &__close::before {
        transform: rotate(45deg);
    }

    &__close::after{
        transform: rotate(-45deg);
    }
}

